/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: 1f1b24;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #888;
}